body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  background-image: url("C:\Users\Asus\Desktop\MyNewFolder\the-crosser\src\115191.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login.state {
  background-color: #636060;
  font-display: stable;
  height: max-content;
  line-height: 0cqh;
  color-scheme: black;
  color-interpolation-filters: auto;
}


.center-container {
  height: 500px;
  width: 40vw;
}

.app-heading {
  padding: 4px;
  color: white;
  /* text-align: center; */
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-transform: uppercase;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.input-box-todo {
  margin-left: 50px;
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border: 1px solid black;
  padding-left: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.add-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background-color: #316fc1;
  color: white;
  font-weight: bolder;
  font-size: larger;
  margin-left: 10px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
}

.add-btn:active {
  box-shadow: none;
}

.list-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.list-item {
  list-style-type: none;
  background-color: #62676e;
  border: 2px solid rgb(161, 158, 158);
  color: rgb(255, 255, 255);
  padding: 20px;
  padding-left: 10px;
  border-radius: 20px;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.list-item-completed-text {
  text-decoration: line-through;
}

.icons {
  position: absolute;
  right: 10px;
}

.icons i {
  margin: 4px;
  font-size: large;
  cursor: pointer;
  transition: 0.1s;
}

.icons i:hover {
  transform: scale(1.2);
}

.icon-delete:hover {
  color: rgb(212, 5, 5);



}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("C:\Users\Asus\Desktop\MyNewFolder\login-page\src\2.jpg");
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  background-color: rgb(117, 115, 115);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-form h1 {
  margin-bottom: 20px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #064d88;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #555;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.welcome-message h1 {
  margin-bottom: 20px;
  color: #333;
}
input,
select,
textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: inherit;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  outline: none;
}